@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    background: #e8d9bf;
}

.header_slider img {
    width: 100%;
}

.header {
    position: relative;
}

/* ↑position: absoluteで動かしたいものの基準点にすることができる。 */


.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

/* align-itemsロゴとナビを上下中央に揃えている。 */
/* paddingつけるときに%を使用すれば、
サイズの変化に応じて幅を縮めることができる。55÷1920=3 136÷1920=7 */
/* position: absoluteこの要素をどこに置くか、上に持ち上げている状態。 基準を決める必要がある。
今回はヘッダーの画像を基準にしたいから、親要素であるheaderタグを基準とする。 */
/* divタグはブロック要素で、画面幅いっぱいに広がるという特性があるが、これをつけることによってその特性が消えてしまい
縮まってしまう。横幅100％で指定。
box-sizing: border-box; 横幅に要素とpadding含めてくれる */
.header_logo {
    width: 277px;
    width: 227px;
}

/* 文字データは2倍の起き差で入っている。
455pxで入っているため、2分の1のサイズのwidth入れる。 */

.pc_nav ul {
    display: flex;
    gap: 50px;
}

/* liの間隔開ける */

.pc_nav ul li {
    color: #fff;
    font-family: "游ゴシック体", YuGothic,
        "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 105px;
    text-align: center;
}

/* 一つのliはデザインで確認すると1つ1つのアイテムがすべて105pxの
横幅になっている。→width指定テキストを中央指定するためにcenter入れる */
a {
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;

}

/* フォバーアクション */

.have {
    font-size: 30px;
    text-align: center;
    margin-top: 104px;
    margin-bottom: 43px;
}

/* pタグはブロック要素でデフオルトでwidth 100%幅いっぱいの指定になっている。
だからわざわざwidthを指定しなくてよい。 */

.happy {
    font-size: 82px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 17px;

}

.mainiti {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 90px;
}

#ABOUT-US {
    max-width: 1000px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 0 10px 96px 0;
    display: flex;
    justify-content: space-between;
}

.imgko-hi- {
    width: 50%;
    border-radius: 0 0 82px 0;
}

.about2 {
    width: 42%;
}

.about-us-logo {
    width: 272px;
    padding: 51px 0;
}

.watasi {
    font-size: 44px;
    line-height: 1.4;
    padding: 0 0 31px 0;

}

.sa-bis {
    font-size: 16px;
    line-height: 1.6;
}

#MENU {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0 37px 0;
}

.menu-logo {
    width: 151px;
    padding: 0 0 40px 0;
    margin: 0 auto;
}

.containar {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

h3 {
    font-size: 38px;
    line-height: 0.6;
    color: #d30202;
}

.box {
    width: 30%;
}

.box p {
    font-size: 17px;
    line-height: 1.5;
    padding: 10px 0 0 0;
}

.img3 {

    border-radius: 0 42px 0 0;
}

#GALLERY {
    padding: 0 0 55px 0;
}

.gallery-logo {
    width: 245px;
    margin: 0 auto;
    padding: 0 0 15px 0;
}

.gallery {
    display: flex;
    justify-content: center;
}

.gallery img {
    width: 20%;
}

#EVENT {
    padding: 0 10px;
}

.event-logo {
    width: 174px;
    margin: 0 auto;
    padding: 0 0 30px 0;
}

.osirase {
    height: 200px;
    max-width: 1000px;
    padding-right: 0 10px;
    background: #ffffff;
    border: 3.7px solid #4F260B;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* display flexを使うと、子要素が複数個ある場合、
横並びが発生する。
しかし、今回の場合は子要素が１つしかないため、
横に並ぶ相手がいないため、並びの効果は
発生せずその1つの子を中央に配置するだけの状態になる */

.osirase2 {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.p {
    display: flex;
    gap: 46px;

}



.osirase p {
    font-size: 23px;
    line-height: 1;

}

.border {
    border-bottom: 1.5px solid #4F260B;

    /* text-decoration: underline; */

}


.access-logo {
    width: 213px;
    margin: 0 auto;
    padding-top: 65px;
}

iframe {
    display: block;
    width: 100%;
    height: 470px;
}

/* iframeはデフオルトで下に隙間ができるため、
ブロック要素にして隙間を埋める。 */
.pagetop {

    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 125px;
}



footer {
    background: #ffffff;


}

.footerlogo {
    width: 227px;
    padding-left: 10px;
}

.address2 {
    font-size: 20px;
    line-height: 2;
    color: black;
}

.footer1 {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    padding: 85px 0 75px 0;

}

.last {
    font-size: 16px;
    text-align: center;
    padding-bottom: 75px;
}