@charset "utf-8";

.header {
    background: #fff;
    border-bottom: 1px solid #ccc;
}

body {
    margin: 0 auto;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 15px;

}

h1 {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;


}


li {
    padding: 10px 20px;
    border-right: 1px solid #444;
}

li:last-child {
    border-right: none;
}

@media screen and (max-width: 767px) {

    .header-inner,
    ul {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }





    li {
        border-right: none;
        border-bottom: 1px solid#444;
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;

    }

    .nav {
        width: 100%;
    }

}