@charset "utf-8";

body {
    background: #eee;
}

/* 960pxを.serviceに充ててしまうと
コンテンツのみに背景色がついてしまうため、bodyタグにあてる。 */
.service {
    margin: 0 auto;
    max-width: 960px;
}

h2 {
    text-align: center;
    color: #0f5132;
    padding: 30px;
}

h3 {
    display: flex;
    align-items: flex-start;
    color: #0f5132;
    padding: 10px;
    /* border-left: 5px solid #0f5132; 
    spanタグ以外の表示方法
    padding調整すれば、高さ調整できる。*/
}

.service1,
.service2,
.service3 {
    background: #fff;
    width: 32%;
    text-align: left;
}

/* 300pxだと画面幅が小さくなった際に
表示しきれずにdivタグが300px以下に縮まる。
300%にすることでdiv自体が縮んでくれる
widthの計算960px－gap40px=920px
300÷920=32 */
p {
    padding: 5px;
}

.bar {
    display: inline-block;
    width: 6px;
    height: 18px;
    margin-right: 10px;
    /* テキストとバーの間に余白 */
    background: #0f5132;
}

.service-box {
    display: flex;
    gap: 20px;
    padding: 0 5px 50px 5px;
}

/* ↑横幅広すぎるとコンテンツ幅よりだいぶ小さく見えてしまう */

@media screen and (max-width:400px) {

    .service-box {
        flex-direction: column;
        gap: 20px;
        padding: 0 30px 50px 30px;

    }

    .service1,
    .service2,
    .service3 {
        width: 100%;
    }

    img {
        width: 100;
    }
}